*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: sans-serif;
    
}

.grid div:nth-child(even)
{
    background-color: lightblue;
}

.grid div:nth-child(odd)
{
    background-color: palevioletred;
}